:root {
  --background: hsl(212, 45%, 89%);
  --card-shadow: hsl(208.9,49.1%,89.2%);
  --card: hsl(0, 0%, 100%);
  --description: hsl(220, 15%, 55%);
  --title: hsl(218, 44%, 22%);
}

body {
  background-color: var(--background);
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: var(--card);
  border-radius: 20px;
  height: 550px;
  width: 340px;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);

  box-shadow: 10px 10px 5px 12px var(--card-shadow);
} 

.image-qr-code {
  border-radius: 20px;
  height: 300px;
  margin: 15px;
  width: 310px;
}

.text-container {
  text-align: center;
}

.title {
  color: var(--title);
  font-size: 1.4rem;
  font-weight: 700;
}

.description {
  color: var(--description);
  font-size: 1.07rem;
}